<!-- notification dropdown start-->
<li id="header_notification_bar" class="dropdown">
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">

        <i class="fa fa-bell-o"></i>
        <span class="badge bg-warning">3</span>
    </a>
    <ul class="dropdown-menu extended notification">
        <li>
            <p>Notifications</p>
        </li>
        <li>
            <div class="alert alert-info clearfix">
                <span class="alert-icon"><i class="fa fa-bolt"></i></span>

                <div class="noti-info">
                    <a href="#"> Server #1 overloaded.</a>
                </div>
            </div>
        </li>
        <li>
            <div class="alert alert-danger clearfix">
                <span class="alert-icon"><i class="fa fa-bolt"></i></span>

                <div class="noti-info">
                    <a href="#"> Server #2 overloaded.</a>
                </div>
            </div>
        </li>
        <li>
            <div class="alert alert-success clearfix">
                <span class="alert-icon"><i class="fa fa-bolt"></i></span>

                <div class="noti-info">
                    <a href="#"> Server #3 overloaded.</a>
                </div>
            </div>
        </li>

    </ul>
</li>