<div id="header-container">
    <div id="header">
        <div class="navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container"></div>
            </div>
        </div>

        <div class="header-drawer" style="height: 3px"></div>
    </div>p
</div>

<div id="main-container">
    <div id="main-content" class="main-content container">
        <div class="signin-content"></div>
    </div>
</div>