<div class="alert alert-success alert-content company-alert">
    <i class="fontello-icon-info"></i> <strong>As this is a demo account this pane is disabled. It would usually give information of email and/or telephone activity that is associated with the relevant item you've selected.</strong><br/>
    <br/>
    <strong>On the home screen (Dashboard)</strong> This will show *all* communications activity that is going on for either you individually or in your business. (depending on IT configuration)<br/>
    <strong>On the candidate screen</strong>  This will show communications activity between the candidate and either you individually or anyone else in your business (depending on IT configuration)<br/>
    <strong>On the contact screen</strong> This will show communications activity between the contact and either you individually or anyone else in your business (depending on IT configuration)<br/>
    <strong>On the company screen</strong> This will show communications activity between anyone within that specific company record and either you individually or anyone else in your business (depending on IT configuration)<br/>
    <strong>On the job screen</strong> This will show communications activity regarding the specific job posting by you individually or anyone else in your business (depending on IT configuration)<br/>
</div>