<div class="clearfix marginBottom10">
	<label class="control-label col-sm-3">{{translate displayName}}</label>
	<div class="col-sm-9">
	    <select class="form-control select-input select2" placeholder="{{translate displayName}}" data-live-search="true" multiple="multiple" name="{{filterType}}">
	    </select>
	</div>
</div>