<!--  notification start -->
<ul class="nav top-menu">

    <li class="dropdown open">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <i class="fa fa-tasks"></i>
            <span class="badge bg-success">8</span>
        </a>
        <ul class="dropdown-menu extended tasks-bar"></ul>
    </li>


    <!-- notification dropdown end -->
</ul>