<section>
    <div class="row margin-top20">
        <div class="col-sm-12">
            <div class="well well-nice">
                <div class="row">
                    <div class="col-md-12 grider-item panel-content">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
