<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title">
		    	{{translate "stakeholders" }}
	    	</h4>
		</div>
		<div class="modal-body stakeholders-modal">

			<ul class="list-unstyled form-list form-horizontal list-bordered dotted">
				<li class="form-group">
					<div class="candidate-list"></div>
				</li>
				<li class="form-group">
		            <div class="company-list"></div>
		        </li>
				<li class="form-group">
		            <div class="client-list"></div>
		        </li>
				<li class="form-group">
		            <div class="job-list"></div>
				</li>
            </ul>

		</div>
		<div class="modal-footer">
			<div class="btn-group">
				<button type="button" class="btn btn-danger cancel-range" data-dismiss="modal">
			    	{{translate "no" }}
			    </button>
			    <button type="submit" class="btn btn-success confirm-range">
			    	{{translate "yes" }}
			    </button>
			</div>
		</div>
	</div>
</div>