<li>
    <a href="#">
        <div class="task-info clearfix">
            <div class="desc pull-left">
                <h5>Target Sell</h5>

                <p>25% , Deadline 12 June’13</p>
            </div>
                                    <span class="notification-pie-chart pull-right" data-percent="45">
                            <span class="percent"></span>
                            </span>
        </div>
    </a>
</li>
