<div class="media-thumb media-left thumb-bordereb user-profile-trigger">
    <a class="img-shadow" href="javascript:void(0);">
        <img class="thumb user-profile-trigger" src="https://media.licdn.com/mpr/mpr/shrink_240_240/p/8/005/06c/1cc/2b94454.jpg"></a>
</div>
<div class="media-body">
    <h5 class="media-heading user-profile-trigger">Nathanael Steiner <small>as Administrator</small></h5>
    <p class="data user-profile-trigger" id="lastAccess"></p>
</div>