<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">
                About Octus
            </h4>
        </div>
        <div class="modal-body overflow-y-visible">
			<ul class="list-group modules">
			</ul>
		</div>
        <div class="modal-footer">
            <div class="btn-group">
                <button class="btn btn-danger" data-dismiss="modal">{{translate "close" }}</button>
                <button class="btn btn-success" id="refresh">{{translate "clearCacheAndUpdate" }}</button>
            </div>
        </div>
	</div>
</div>