<div class="row">
    <div class="col-lg-4">
        <!--<img class="company-logo" src="http://localhost:8080/content/testCompany/img/company/car_3.jpg" alt="Ferrari" />-->


    </div>
    <div class="col-lg-8 pull-left">
        <!--<h3 class="name"></h3>-->

    </div>

</div>
