/*
 * Twitter Typeahead styles
 */

span.twitter-typeahead {
    width: 100%;

	.tt-suggestion {
		display: block;
		padding: 3px 20px;
		
		&:hover,
		&.tt-cursor {
			color: #ffffff;
    		background-color: #428bca;
		}

		&.tt-is-under-cursor {
			color: #fff;
			background-color: #428bca;

			a {
				color: #fff;
			}
		}

		> p {
			display: block;
		    padding: 3px 20px;
		    margin-bottom: 0px;
		    clear: both;
		    font-weight: normal;
		    line-height: 1.42857143;
		    color: #333333;
		    white-space: nowrap;

		    &:hover, &:focus {
				color: #ffffff;
			    text-decoration: none;
			    outline: 0;
			    background-color: #428bca;
		    }
		}
	}

	.tt-menu {
		position: absolute;
	    top: 100%;
	    left: 0;
	    z-index: 1000;
	    display: none;
	    float: left;
	    min-width: 160px;
	    padding: 5px 0;
	    margin: 2px 0 0;
	    list-style: none;
	    font-size: 14px;
	    text-align: left;
	    background-color: #ffffff;
	    border: 1px solid #cccccc;
	    border: 1px solid rgba(0, 0, 0, 0.15);
	    border-radius: 4px;
	    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	    background-clip: padding-box;
	}
}

.input-group {
	span.twitter-typeahead {
    	display: block !important;
    	height: 34px;

    	.tt-dropdown-menu {
    		top: 32px !important;
    	}
	}

	&.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
		top: 28px !important;
	}

	&.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
		top: 44px !important;
	}
}

.tt-suggestion {

  .grey {
	color: grey;
	font-size: 90%;
  }

  &:hover {
	.grey {
	  color: $color_celeste_approx;
	}
  }
}
.tt-wrapper {
	position: relative;
}

.tt-spinner {
    position: absolute;
    top: 11px;
    right: 7px;
    display: none;
    z-index: 99;
}

.massMail,
.sendJobs {
	span.twitter-typeahead .tt-menu {
		width: 100%;
		border-top: none;
	}
}