.marginR5 {
    margin-right: 5px;
}

.marginLeft10 {
    margin-left: 10px;
}

.marginTop5 {
    margin-top: 5px;
}

.marginTop10 {
    margin-top: 10px !important;
}

.marginTop15 {
    margin-top: 15px;
}

.marginTop20 {
    margin-top: 20px;
}

.marginTop3 {
    margin-top: 3px !important;
}

.marginTop30 {
    margin-top: 30px;
}

.marginBottom0 {
    margin-bottom: 0px;
}

.marginBottom5 {
    margin-bottom: 5px;
}

.marginLeft20 {
    margin-left: 20px;
}

.marginBottom10 {
    margin-bottom: 10px;
}

// Octus margin
// mt = margin-top; ml = margin-left; mb = margin-bottom; mr = margin-right
// __________________________________________________________________

.m-0 { margin:0; }
.mb-16 { margin-bottom:1.6rem; }
.mr-16 { margin-right:1.6rem; }
.mt-16 { margin-top:1.6rem; }
.mt-8 { margin-top:.8rem; }
.mb-8 { margin-bottom:.8rem; }
.mt-0 { margin-top:0; }