.width5px {
    width: 5px;
}

.width80px {
    width: 80px;
}

.width5 {
    width: 5%;
}

.width10 {
    width: 10%;
}

.width15 {
    width: 15%;
}

.width20 {
    width: 20%;
}

.width25 {
    width: 25%;
}

.width30 {
    width: 30%;
}

.width35 {
    width: 35%;
}

.width40 {
    width: 40%;
}

.width45 {
    width: 45%;
}

.width46 {
    width: 46%;
}

.width50 {
    width: 50%;
}

.width55 {
    width: 55%;
}

.width90 {
    width: 90%;
}

.width100 {
    width: 100%;
}

.widthFixed60 {
    width: 60px !important;
}

.minWidth75 {
    min-width: 75px;
}

.minWidth100 {
    min-width: 100px;
}

.minWidth130 {
    min-width: 130px;
}

.minWidth200 {
    min-width: 200px;
}

// Octus Widths
// mw-XXX = maximum-width + width value in pixels
// __________________________________________________________________
.mw-640 { max-width:64rem; }

.w-90 { width:90px; }
.w-75 { width:75px; }
