<h1 class="welcome-jac text-center" style="line-height: 1;">
    <span style="welcome-text">Welcome to</span><br>
    <span class="brand-name">
        <span class="client-name"></span>
        <small>recruitment</small>
    </span>
</h1>
<div class="welcome">
    <div class="logo"></div>
</div>
<div class="well well-nice form-dark">
    <div class="tab-content overflow">
        <div class="tab-pane fade in active" id="login">
            <h3 class="no-margin-top"><i class="fa fa-user"></i>  {{translate "forgotPassword"}}</h3>
            <form class="form-tied margin-00" name="login_form">
                <fieldset>
                    <ul class="list-unstyled">
                        <li>
                            <input id="username" class="input-block-level username" type="text" name="username" placeholder="{{translate "username"}}" required/>
                        </li>
                    </ul>
                    <button type="submit" class="btn btn-envato btn-block btn-lg uppercase reset-password ">{{translate "retrievePassword"}}</button>
                    <hr class="margin-xm">

                    <a href="#/login" class="link pull-right">Login</a>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<div class="web-description">
    <ul class="list-inline">
        <li><a target="_blank" href="https://octus.io/">Octus Homepage</a></li>
        <li><a target="_blank" href="https://octus.io/terms.html">Terms of Service</a></li>
        <li><a target="_blank" href="https://octus.io/privacy.html">Privacy</a></li>
    </ul>
    <p>
        <br>
        {{translate "allRightsReserved"}}
        <br>
        &copy; <span class="currentYear"></span>
    </p>
</div>
