<div class="section-content">
    <form>
        <fieldset>
            <ul class="list-unstyled form-list form-horizontal list-bordered dotted">
                <li class="form-group">
                    <label class="control-label col-sm-3">{{translate "language"}}</label>
                    <div class="col-sm-5">
                        <select id="language" class="form-control language col-md-5" name="language"></select>
                        <span class="help-inline"></span>
                    </div>
                </li>

                <li class="form-group">
                    <label class="control-label col-sm-3">&nbsp;</label>
                    <div class="col-sm-5">
                        <input type="button" class="button-save-locale btn-sm btn btn-success" value="{{translate "save"}}"/>
                    </div>
                </li>
            </ul>
        </fieldset>
    </form>
</div>