<div class="col-sm-12">
    <fieldset class="o-card is-centered mw-640">
        <ul class="list-unstyled form-list form-horizontal list-bordered dotted">
            <li class="form-group" id="emailAddressInput">
            </li>
            <li class="form-group" id="emailStatus">
            </li>
        </ul>
    </fieldset>
</div>