<div class="row marginBottom10 EmailAddress">
	<label class="control-label col-sm-3">{{translate "emailAddress"}} <span class="requiredInput">*</span></label>
	<div class="col-sm-9">
	    <input type="text" class="form-control address" placeholder="abc@company.com" name="address" autocomplete="off">
	    <span class="help-block"></span>
	</div>
</div>

<div class="row marginBottom5">
	<label class="control-label col-sm-3">{{translate "emailSignature"}}</label>
	<div class="col-sm-9">
	    <textarea class="form-control emailSignature col-md-5" data-error-style="inline" rows="5">
	    </textarea>
	    <span class="help-block"></span>
	</div>
</div>

<div class="row marginBottom10">
	<div class="col-sm-9 col-sm-offset-3">
		<div class="btn-group">
		    <label class="control-label">(You can copy-paste your existing signature in the box)</label>
		</div>
	</div>
</div>

<div class="row marginBottom10">
	<div class="col-sm-9 col-sm-offset-3">
		<div class="btn-group">
		    <button class="save-email btn btn-sm btn-success" disabled="disabled">{{translate "updateEmail"}}</button>
		</div>
	</div>
</div>
