<!--<div class="row page-head" id="user-profile-header"></div>-->
<div class="filler"></div>
<div class="row page-head">
    <span id="page-title"></span>
    <div class="page-bar">
        <div class="btn-toolbar pull-right" id="nav-tabs">
            <!--<div class="btn-group pull-right" ></div>-->
        </div>
    </div>
</div>

<div id="page-content" class="page-content">
    <section>
        <div class="row margin-top20">
            <div class="col-sm-12 grider">
                <!-- class="well well-box well-nice" -->
                <div  id="form-content">
                </div>
            </div>
        </div>
    </section>
</div>