module.exports = Config = {
    UI_ROOT : 'http://UI_LOCATION',
    API_ROOT : 'https://SERVER_LOCATION/server',
    PUBLIC_API_ROOT : 'https://SERVER_LOCATION/server/public',
    ADMIN_API_ROOT : 'https://SERVER_LOCATION/server/admin',
    TRANSLATION_SERVICE : 'https://SERVER_LOCATION/server/translate'
};