<li id="candidates-tab" data-oc-permission="viewCandidates_Menu">
    <a href="#Tab1" data-toggle="tab" id="nav-candidates">{{translate "candidates"}}</a>
</li>
<li id="mailboxCandidates-tab" class="active" data-oc-permission="viewMailboxCandidates_Menu">
    <a href="#Tab2" data-toggle="tab" id="nav-mailboxCandidates">{{translate "mailboxCandidates"}}</a>
</li>
<li id="clients-tab" class="active" data-oc-permission="viewClients_Menu">
    <a href="#Tab3" data-toggle="tab" id="nav-clients">{{translate "clients"}}</a>
</li>