<div class="filler"></div>

<div class="row page-head">
    <div class="page-bar">
        <div class="btn-toolbar">
           <div class="btn-group pull-right" id="nav-tabs">
           </div>
        </div>
    </div>
</div>

<div id="page-content" class="page-content visible">
    <!-- right hand side slider -->
    <section id="candidateDetailSlide">
        <div class="row">
            <div class="col-sm-12">
                <div class="well well-box well-nice">
                    <div class="navbar">
                        <div class="navbar-inner no-bg">
                            <h5 class="title">{{translate "detail"}}</h5>
                            <span class="pull-right marginTop3">
                                <span class="btn-group btn-group-xs">
                                    <a class="btn btn-info linkToCandidate" href="">
                                        <i class="fa fa-angle-double-down" aria-hidden="true"></i> {{translate 'openInSameTab'}}
                                    </a>
                                    <a href="" class="btn btn-info linkToCandidate" target="_blank">
                                        <i class="fa fa-external-link"></i> {{translate 'openInNewTab'}}
                                    </a>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="section-content" id="candidateDetail"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="well well-box well-nice">
                    <div class="navbar">
                        <div class="navbar-inner no-bg">
                            <h5 class="page-title">{{translate "cv"}}</h5>
                        </div>
                    </div>
                    <div class="section-content limitContent" id="candidate-cv">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="row marginTop20">
        <section id="searchBox" class="clearfix">

        </section>
    </div>
    
    <section>
        <div class="row">
            <div id="debugKendo">
                
            </div>

            <div id="searchResultList" class="col-md-12">

            </div>
        </div>
    </section>
</div>