<table class="o-table is-condensed is-clickable layout-fixed">
    <thead>
        <tr>
            <th data-sort="string">{{translate "name"   }}</th>
            <th data-sort="date">{{translate "createdBy"}}</th>
            <th class="width13" data-sort="date">{{translate "revisionDate"}}</th>
            <th data-sort="string">{{translate "tagList"}}</th>
            <th class="w-90">&nbsp;</th>
        </tr>
    </thead>
    <tbody class="documentListItems lineBorder"></tbody>
</table>